
:root {
  /* Global variables to be defined here */
  /* --color-white: #ffffff; */
  --color-white: #ffffff;
  --primary1: #9785BA;
  --primary2: #AF9FCD;
  --secondary: #D7C7F4;
  --gradient: linear-gradient(180deg, #FFFFFF 0%, #9785BA 100%);
  --color-black: #3C3C3C;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: "Ubuntu", "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* background: linear-gradient(180deg, rgba(215, 199, 244, 0.2) 0%, rgba(151, 133, 186, 0.2) 100%); */
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}